
body{
	font-size: 16px;
	color: #FFF;
	background-color: #61122F;
	font-family: 'Oxygen', sans-serif;
}



#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../images/logo150.png') no-repeat;
	width :150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}



.navbar-brand {padding-top: 25px;}

.navbar-brand h1 {/*Resturant Name*/
font-family: 'Lora', serif;
color:#557c3e;
font-size: 1.5em;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top:  0;
margin-bottom: 0;
line-height: .75; 
}

.navbar-brand a:hover , .navbar-brand a:focus {text-decoration:none;}

.navbar-brand p {/* Kosher cert */
color: #000;
text-transform: uppercase;
font-size: .7em;
margin-top: 15px;
}


.navbar-brand p span {/*Star-k*/
  vertical-align : middle;
 }


#nav-list {	margin-top: 10px;}
#nav-list a{color: #951C49;text-align: center;}
#nav-list a:hover {background-color: #E7E7E7;}
#nav-list a span{font-size: 1.8em;}
#phone {margin-top: 5px;}
#phone a{/*Phone number*/
text-align:right;padding-bottom: 0; 
}
#phone div {/*We Deliver*/
color:#557c3e;
text-align: right;
padding-right: 15px; 
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122F;
}
.navbar-header button.navbar-toggle {clear: both;margin-top: -30px;}


/*Home Page */
 .container .jumbotron {
    box-shadow:  0 0 50px #3F0C1F;
     border :2px solid #3F0C1F;
 }


#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}

#menu-tile:hover , #specials-tile:hover , #map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
	background:url('../images/menu400.png') no-repeat;
	background-position: center;
}

#specials-tile {
	background: url('../images/gallery350.png') no-repeat;
	background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
position: absolute;
bottom: 0;
right: 0;
width: 100%;
text-align: center;
font-size: 1.6em;
text-transform: uppercase;
background-color: #000;
color: #fff;
opacity: .8; 
}

/* End Home page */



/*Menu Categories page */
.category-tile {
	position:relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px; 

}



.category-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase; 
	background-color: #000;
	color: #fff;
	opacity: .8;

}

.category-tile:hover {box-shadow: 0 1px 5px 1px #cccccc;}
#menu-categories-title + div {margin-bottom: 50px;}

/*End Menu Categories page*/

.menu-item-tile {margin-bottom: 25px;}
.menu-item-tile hr {width: 80%;}
.menu-item-tile .menu-item-price {
	font-size: 1.1em;
	text-align:right;
	/*margin-top: -15px;
	margin-right: -15px;*/
}

.menu-item-tile .menu-item-price span {font-size: .6em;}
.menu-item-photo {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px;
}


.menu-item-photo div {
position:absolute;
bottom: 0;
right: 0;
width: 80px;
background-color: #557c3e;
text-align: center; 
}

.menu-item-description{padding-right: 30px; }
h3.menu-item-tile {margin: 0 0 10px;}
.menu-item-details {font-size: .9em ;font-style: italic;}
/*End Single Category Page*/








/*End Header*/



/*Footer*/
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0; 
}

.panel-footer div.row {margin-bottom: 35px;}
#hours, #address {line-height: 2;}
#hours > span, #address > span {font-size: 1.3em;}
#address p {color: #557c3e; font-size: .8em;line-height: 1.8}
#testimonials {font-style: italic;}
#testimonials p:nth-child(2) {margin-top: 25px}
/* End Footer */





@media (min-width: 1200px) {
 .container .jumbotron {
	background:url('../images/jumbotron1150.jpg') no-repeat;
     height: 657px;

}

}




@media (min-width: 992px) and (max-width: 1199px){
	/*header*/
	#logo-img {
	background: url('../images/logo100.png') no-repeat;
	width :100px;
	height: 100px;
	margin: 5px 5px 5px 0;}
	/*End Header*/


   .container .jumbotron {
	background:url('../images/jumbotron.jpg') no-repeat;
     height: 700px;
    }
	
}



@media (min-width: 768px) and (max-width: 991px){

 .container .jumbotron {
	background:url('../images/jumbotron725.jpg') no-repeat;
     height: 500px;
 }



}



@media (max-width: 767px) {
.navbar-brand {padding-top: 20px;height: 80px;}

.navbar-brand h1 {/*Resturant Name*/
padding-top: 10px;
font-size: 5vw;/*1vw=1% of viewport width*/
}

.navbar-brand p {/* Kosher cert */ 
font-size: .6em;
margin-top: 12px;
}


.navbar-brand p img  {/*Star-k*/
  height: 20px;
 }

#collapsable-nav a{ /*Collapsed new menu glyph */
font-size: 1.2em;
}


#collapsable-nav a span{
	font-size: 1em;
	margin-right: 5px;
}



#call-btn > a {

font-size: 1.5em;
display: block;
margin: 0 20px;
padding: 10px;
border: 2px solid #fff;
background-color: #f6b319  
color: #951c49;
}

#xs-deliver {
	margin-top: 5px;
	font-size: .7em;
	letter-spacing: .1em;
	text-transform: uppercase;
}
/*End Header */


/*Footer*/
.panel-footer section {margin-bottom:  30px;text-align: center;}
.panel-footer section:nth-child(3) {
	margin-bottom: 0px;   /* margin already exists on the whole row. */
}
.panel-footer section hr {width: 50%;}

/* End Footer */







/* Home page */
 .container .jumbotron {
	 margin-top: 30px;
	 padding: 0;
	}

#menu-tile, #specials-tile {
    width: 315px;
    margin :  0 auto 15px;
}


.menu-item-photo {margin-right: auto;}
.menu-item-tile .menu-item-price {text-align:center;} 
.menu-item-description {text-align: center;} 

}




@media(max-width: 479px){
	
.navbar-brand h1 {
	/* Resturant name */
	padding-top: 5px;
	font-size: 6vw;
}
/*End Header*/
/*Home page*/
#menu-tile, #specials-tile {
    width: 280px;
    margin :  0 auto 15px;
}







.col-xxs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}







}













/*





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FC Anonymous</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="index.html" class="pull-left visible-md visible-lg">
                    <div id="logo-img" alt="Logo image"></div>
                </a>
                <div class="navbar-brand">
                    <a href="index.html">
                        <h1>FC ANONYMOUS</h1>
                    </a>
                    <p> <img src="images/fourstar.png" alt="logo">
                        <span>We Are Anonymous </span>
                    </p>
                </div>

       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
    </div>
           <div id="collapsable-nav" class="collapse-navbar-collapse">
            <ul id="nav-list" class="nav navbar-nav navbar-right">
                <li class="visible-xs active">
                    <a href="index.html">
                        <span class="glyphicon glyphicon-home">Home</span>
                    </a>
                </li>
                <li>
                    <a href="menu-categories.html">
                        <span class="glyphicon glyphicon-th-large"></span><br class="hidden-xs">Menu
                        </a>
                </li>
                <li>
                    <a href="formation.html">
                        <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs">About
                        </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-certificate"></span><br class="hidden-xs">Awards
                        </a>
                </li>
                <li id="phone" class="hidden-xs">
                    <a href="">
                        <span>+880***</span>
                    </a>
                    <div> * updating soon </div>
                </li>
            </ul><!-- #nav-list  -->
        
           </div><!-- .collapse.navbar-collapse  -->

    </div><!-- .container  -->
        </nav><!-- #header-nav  -->
    </header>


    <div id="call-btn" class="visible-xs">
    <a class="btn" href="">
        <span class="glyphicon glyphicon-earphone"></span>+880***
    </a>
    </div>
    <div id="xs-deliver" class="text-center visible-xs">* updating soon </div>

    <div id="main-content" class="container">
        <div class="jumbotron">
            <img src="images/jumbotron.jpg" alt="Pic of us" class="img-responsive visible-xs">
        </div>
        <!-- /////// -->


        <div id="home-tiles" class="row">


            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="menu-categories.html">
                    <div id="menu-tile"><span>menu</span></div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="single-category.html">
                    <div id="specials-tile"><span>GALLERY</span></div>
                </a>
            </div>  

            <div class="col-md-4 col-sm-12 col-xs-12">
                <a href="https://goo.gl/maps/qB8Q8ArFcee4AEKU6" target="_blank">
                    <div id="map-tile"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233713.5366334781!2d90.34584452483024!3d23.75543695508446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2z4Kai4Ka-4KaV4Ka-!5e0!3m2!1sbn!2sbd!4v1637127782658!5m2!1sbn!2sbd" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe><span>map</span></div>
                </a>
            </div>

        </div><!-- End of #home-tiles  -->

        <!-- /////// -->








<!-- /////// -->


        <div id="home-tiles" class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="formation.html">
                    <div id="menu-tile"><span>about</span></div>
                </a>
            </div>


        </div><!-- End of #home-tiles  -->

        <!-- /////// -->



    </div><!-- End of #main-content -->


     <footer class="panel-footer">
        <div class="container">
             <div class="row">
                <section id="hours" class="col-sm-4">
                    <span>E-mail:</span><br>
                     abeer716@yahoo.com<br>
                     <span><p>FB Page Link:<br>
                     <a href="https://www.facebook.com/anonymousfootball/"
                       target="_blank" title="Like Our Page!">Anonymous Football Club
                     </a>
                     </p></span><br>

                    
                     <hr class="visible-xs">
                </section>

                <section id="address" class="col-sm-4">
                    <span>Address:</span><br>
                     Dhaka,Bangladesh<br><br>
                    
                     <p>We Are Remians HSC-19</p>
                     <hr class="visible-xs">
                </section>

                <section id="testimonials" class="col-sm-4">
                     <p>"Website is under construction."</p>
                     <p>"Updates are coming soon !"</p><br>
                     <p>"Play with pride,Play with passion !"</p>
                     <hr class="visible-xs">
                </section>
             </div>

           <div class="text-center">&copy; Copyright FC Anonymous 2021</div>

        </div>
     </footer>


     <!-- jQuery -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>









*/



















